/* * {
  outline: 1px solid red;
} */

:root {
  --main-width: 1000px;
}

html,
body,
p,
h1,
h2,
h5,
blockquote {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0 auto;
}

header {
  height: 60px;
  background-color: lightcoral;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: center;
  width: var(--main-width);
}

.logo {
  display: flex;
  gap: 4px;
  align-items: center;
}

.logo div:nth-of-type(1) {
  text-align: right;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
}

.logo div:nth-of-type(2) {
  text-align: left;
  font-weight: 900;
  font-size: 50px;
}

.first {
  background-color: lightcoral;
  display: flex;
  justify-content: center;
}

.first-container {
  width: var(--main-width);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px;

  padding: 120px 20px;
  gap: 150px;
}

.first__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  grid-column-start: span 1;
}

.first__left button {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding: 10px 30px;
}

.first__right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.two {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.two .title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.two .cards-container {
  width: var(--main-width);
  display: flex;
  justify-content: space-between;
}

.two .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.two .card__img {
  height: 200px;
  width: 200px;
}

.two .card__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.two .card__title {
  font-size: 16px;
  font-weight: 500;
}

.three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 300px;
}

.three figure {
  max-width: var(--main-width);
}

.three blockquote {
  font-size: 20px;
  font-weight: 200;
}
.three figcaption {
  text-align: right;
  font-weight: 400;
  font-size: 20px;
  margin-top: 20px;
  padding-right: 50px;
}

.four {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.four .container {
  width: var(--main-width);
  height: 200px;
  background-color: lightcoral;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}

.four .left h5 {
  font-size: 40px;
  padding: 5px 20px;
}

.four .left p {
  padding: 5px 20px;
}

.four .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.four .right button {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  border-radius: 5px;
  border: none;
  padding: 10px 30px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: lightgray;
}

button {
  transition: color 0.2s, transform 0.1s;
}

button:hover {
  color: lightcoral;
}

button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 1060px) {
  :root {
    --main-width: 800px;
  }

  .first-container {
    gap: 50px;
  }

  .two .card:nth-of-type(1) {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --main-width: 600px;
  }
  .two .card:nth-of-type(3) {
    display: none;
  }

  .two .cards-container {
    justify-content: space-around;
  }
}

@media screen and (max-width: 680px) {
  :root {
    --main-width: 300px;
  }

  header {
    background-color: white;
  }

  .first-container {
    grid-template-columns: 1fr;
    grid-template-rows: 350px;
    width: 100%;
    padding: 0;
    justify-items: center;
  }

  .first__left {
    grid-area: 1/1/2/2;
    z-index: 2;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    width: var(--main-width);
  }

  .first__right {
    grid-area: 1/1/2/2;
    z-index: 1;
    opacity: 0.12;
    width: 100%;
  }

  .two .cards-container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
  }

  .two .card:nth-of-type(1) {
    display: flex;
  }

  .two .card:nth-of-type(3) {
    display: flex;
  }

  .two .title {
    font-size: 25px;
  }

  .card {
    width: 140px;
  }

  .two .card__img {
    height: 100px;
    width: 100px;
  }

  .three blockquote {
    font-size: 15px;
  }

  .three figcaption {
    font-size: 15px;
  }

  .four {
    height: 300px;
  }

  .four .container {
    height: 150px;
  }

  .four .left h5 {
    font-size: 20px;
    max-width: 50%;
  }

  .four .left p {
    font-size: 13px;
    max-width: 70%;
  }

  .four .right button {
    font-size: 12px;
    padding: 5px 10px;
    margin-right: 20px;
    white-space: nowrap;
  }

  footer {
    font-size: 12px;
  }
}
